html {
  background: #1e1f28;
}

#aboutme {
  margin: 0 0 150px 0;
}

header #nav-wrap {
  letter-spacing: 1.5px;
  margin-top: 50px;
}

header #nav-wrap .nav {
  margin-left: 60%;
}

header #nav-wrap .name {
  color: #fff;
  float: left;
}

header ul#nav li {
  display: inline-block;
}

header ul#nav li a {
  display: inline-block;
  padding: 8px 13px;
  line-height: 25px;
  text-decoration: none;
  color: #fff;
}

.arrow {
  border: solid #fff;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  margin: 0 0 3px 6px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

#profile-picture img {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  max-width: 100%;
  max-height: 100%;
}

.welcome-message {
  margin: 35% 0 0 40%;
}

.welcome-message h3 {
  color: #a8a8a8;
  font-size: 2em;
  margin: 0 auto;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}

.welcome-message h3 span {
  color: rgb(29, 216, 110);
  font-size: 1.5em;
}

#resume {
  /* background: #fff; */
  /* padding-top: 90px; */
  /* padding-bottom: 72px; */
  overflow: hidden;
}

#education {
  position: absolute;
  left: 0;
  width: 25%;
  height: 100%;
  background: #202127;
}

#education hr {
  color: #636266;
}

#skills {
  position: absolute;
  background: #202127;
  width: 25%;
  height: 50%;
  margin-top: 450px;
}

#description {
  text-align: left;
  width: 75%;
  float: right;
}

#description img {
  float: left;
  width: 150px;
  margin: 10px 20px 0 0;
}

#description h3 {
  padding-top: 20px;
  font-weight: bold;
  color: #a8a8a8;
  font-size: 2em;
  margin: 0 auto;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}

#description .text {
  background: #2c2d36;
  margin: 40px 60px 0 30px;
  padding: 0 0 20px 20px;
  color: #9e9e9e;
  /* color: #636266; */
  font-weight: bold;
  font-size: small;
}

#experience {
  width: 75%;
  float: right;
  text-align: left;
}

#experience h3 {
  color: white;
  font-weight: bold;
}

#experience .job {
  background: #2c2d36;
  width: 530px;
  height: 280px;
  float: left;
  margin: 20px 0 10px 30px;
  padding: 20px;
  color: #9e9e9e;
  /* color: #636266; */
  font-weight: bold;
}

#experience .job .green {
  color: rgb(29, 216, 110);
}

#experience .job ul {
  list-style-type: none;
  font-size: x-small;
  padding: 0;
}

#experience .job li {
  padding: 5px;
}

#experience .job h3 {
  color: white;
  font-weight: bold;
}

footer {
  padding-top: 48px;
  margin-bottom: 48px;
  font-size: 14px;
  text-align: center;
  position: relative;
}

footer .contactDetails {
  float: left;
}

/* social links */
footer .social-links {
  margin: -30px 0 0 0;
  padding: 30px;
  font-size: 30px;
  float: right;
}
footer .social-links li {
  display: block;
}

footer .social-links li .icon {
  color: #434242bf;
}

footer .social-links li:first-child {
  margin-left: 0;
}
